---
- name: See if Java is present
  ansible.builtin.command:
    cmd: "{{ jenkins_java_exe }} -version"
  changed_when: false
  ignore_errors: "{{ jenkins_install_java }}"
  register: java_version

- name: Include tasks to install Java
  when:
    - java_version is failed
    - jenkins_install_java
  ansible.builtin.include_tasks:
    file: "install-java-{{ ansible_pkg_mgr }}.yml"
