[Unit]
Description=Jenkins CI Service
After=network.target

[Service]
Environment="CASC_JENKINS_CONFIG={{ jenkins_config_dir }}/jcasc"
Environment="JENKINS_HOME={{ jenkins_home }}"
ExecStart={{ jenkins_command }}
# So systemd won't generate a PID file for non-forking services, so we need to make one.
# Also, systemd doesn't allow redirection, so we need to wrap the command with sh.
ExecStartPost=sh -c 'systemctl show jenkins -p ExecMainPID | cut -d = -f 2 > {{ jenkins_pid_file }}'
ExecStop=pkill -F {{ jenkins_pid_file }}
PIDFile={{ jenkins_pid_file }}
Restart=on-failure
Type=simple
User={{ jenkins_user }}
Group={{ jenkins_group }}
WorkingDirectory={{ jenkins_home }}

[Install]
WantedBy=multi-user.target
